@charset "UTF-8";
:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-font-color: #757575;
  --secondary-font-color: #212121;
  --logo-accent-color: #2196f3;
  --logo-second-color: #000000;
  --our-team-bgr: #f5f4fa;
  --logo-footer-color: #ffffff;
  --link-hover-focus: #2196f3;
  --border-color: #ececec;
  --box-shadov: 0px 1px 3px rgb(0, 0, 0, 0.12), 0px 1px 1px rgb(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  --btn-shadow: 0px 4px 4px rgb(0, 0, 0, 0.15);
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --footer-bgr: #2f303a;
  --main-letter-spacing: 0.03em;
  --main-font-size: 14px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --font-weight-secondary: bold;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
}

body {
  font-family: var(--primary-font), sans-serif;
  font-family: var --secondary-font, sans-serif;
  color: var(--primary-font-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  /* min: width 280px; */
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #fff;
}

@media screen and (min-width: 480px) {
  .container {
    width: 448px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hero-button {
  display: inline-block;
  width: 200px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: 0px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: var(--font-weight-secondary);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--logo-accent-color);
  color: var(--logo-footer-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--logo-footer-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--logo-footer-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-icon {
  position: absolute;
  top: 5.2px;
  right: 5.1px;
  fill: var(--secondary-font-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon {
  fill: var(--link-hover-focus);
}

/* form */
.modal-form-head {
  margin-top: 40px;
  margin-bottom: 12px;
  text-align: center;
  color: var(--secondary-font-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.modal-form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.modal-form.form-label:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form .form-input {
  padding-left: 42px;
}

.form-label {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-label:focus-within .form-input,
.form-label:hover .form-input {
  border-color: var(--link-hover-focus);
  outline: none;
}

.form-label .form-input,
.form-label textarea {
  margin: 0;
  padding: 11px 12px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label:focus-within .form-icon,
.form-label:hover .form-icon {
  fill: var(--link-hover-focus);
}

.comment {
  width: 448px;
  height: 120px;
  resize: none;
}

.form-label:focus-within .comment,
.form-label:hover .comment {
  border-color: var(--link-hover-focus);
  outline: none;
}

.form-label .modal-form-input-wrapper {
  margin-bottom: 4px;
  color: var(--primary-font-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form-input-wrapper {
  resize: none;
}

.form-label .form-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

/* checkbox */
.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 20px;
  line-height: 24px;
  margin-left: 13px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--primary-font-color);
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1), 5px rgba(0, 0, 0, 0.05);
}

.checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid var(--secondary-font-color);
  cursor: pointer;
  margin-right: 10px;
}

.checkbox-input:checked + .checkbox-label::before {
  background-image: url(../images/icons/iconcheck.svg);
  width: 16px;
  height: 16px;
}

.checkbox-input:focus + .checkbox-label::before {
  outline: 2px solid var(--link-hover-focus);
}

.form-label-link {
  color: var(--link-hover-focus);
  text-decoration: underline;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.modal-form-btn {
  min-width: 200px;
  min-height: 50px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  color: var(--logo-footer-color);
  background-color: var(--link-hover-focus);
  box-shadow: var(--btn-shadow);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: #188ce8;
}

.btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #f5f4fa;
  color: #212121;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border-color: #2196f3;
}

.pop-up-btn {
  font-family: inherit;
  font-size: 16px;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  line-height: 1.63;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-up-btn:hover, .pop-up-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.team-list-icon {
  justify-content: center;
  display: flex;
  list-style: none;
  margin-top: 10px;
}

.team-list-icon-item {
  width: 44px;
  height: 44px;
}

.team-icon {
  fill: currentColor;
}

.team-list-icon-item:not(:last-child) {
  margin-right: 10px;
}

.team-list-icon-item-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border-radius: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-icon-item-link:hover,
.team-list-icon-item-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  min-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobil/optimize/Эффективные решения для вашего бизнеса (1).jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* dpr2 и 280px+ */
@media screen and (min-device-pixel-ratio: 2) and (min-width: 280px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 280px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 280px), screen and (min-resolution: 192dpi) and (min-width: 280px), screen and (min-resolution: 24dppx) and (min-width: 280px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/mobil/optimize/Эффективные решения для вашего бизнеса (2).jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/tablet/optimize/Эффективные решения для вашего бизнеса.jpg");
  }
}

/* dpr2 и 768px+ */
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 24dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/tablet/optimize/Эффективные решения для вашего бизнеса (2).jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/desctop/optimize/Эффективные решения для вашего бизнеса.jpg");
  }
}

/* dpr2 и 1200px+ */
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 24dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/desctop/optimize/Эффективные решения для вашего бизнеса2.jpg");
  }
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  min-width: 360px;
}

/* .hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px; 
  
     max-width: 1600px;
    margin-left: auto;
    margin-right: auto; 
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
    url("../images/overlay/overlayfone.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
  }
  @media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 24dppx) {
    .hero{
      background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
      url('/images/mobil/optimize/Эффективные\ решения\ для\ вашего\ бизнеса\ \(2\).jpg');
    }
  }
  
  .hero-title {
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
      letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
     width: 696px;
    } */
.site-nav {
  display: none;
}

.auth-nav {
  display: none;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.burger-btn__icon {
  width: 40px;
  height: 40px;
  fill: var(--link-hover-focus);
}

.logo-header-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-second-color);
  text-decoration: none;
  margin-right: 93px;
  margin-left: 0;
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-color {
  color: var(--logo-second-color);
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--logo-footer-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opasity 500ms linear,visibility 500ms linear;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: flex;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: block;
}

.mobile-menu__container {
  position: relative;
  min-height: 200px;
  padding-top: 48px;
  padding-left: 40px;
}

.close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.close-btn__icon {
  width: 40px;
  height: 40px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

/* .header {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--border-color);
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  
  .main-nav {
    display: flex;
    align-items: center;
  }
  .logo-header-link {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--logo-second-color);
    text-decoration: none;
    margin-right: 93px;
    margin-left: 0;
    color: #2196f3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .logo-color {
    color: var(--logo-second-color);
  }
  .site-nav {
    list-style: none;
    display: flex;
    align-items: center;
  }
  .scroll-link{
    position:relative;
      
      transition: color 250ms var(--cubic);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      color: var(--secondary-font-color);
      letter-spacing: 0.02em;
      padding-top: 32px;
      padding-bottom: 32px;
  }
  .current {
    color: var(--link-hover-focus);
  }
  
    .scroll-link.current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    
    background-color: var(--link-hover-focus);
    opacity: 1;
    transition: opasity 250ms var(--cubic);
    }
  
    .nav-item:not(:last-child) {
      margin-right: 50px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: #212121;
    }
    .nav-item .scroll-link:hover,
    .nav-item .scroll-link:focus {
      color: var(--link-hover-focus);
    }
  
  .nav-item:not(:first-child) {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
  }
  
  .auth-nav {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .auth-nav-item:not(:first-child) {
    margin-left: 50px;
  }
  
  .auth-nav-item:hover,
  .auth-nav-item:focus {
    color: var(--link-hover-focus);
  }
  .mail-link-current {
    color: #2196f3;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
  }
  .auth-nav .nav-item + .nav-item {
    margin-left: 50px;
  }
  .auth-nav-icon{
    fill:currentColor;
    margin-right: 10px;
  
  }
   */
/* .descript {
    padding-top: 94px;
    margin-bottom: 94px;
  }  */
.description-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.description-item {
  height: 251px;
}

.description-item :not(:last-child) {
  margin-right: 30px;
}

.description-item > .description-title {
  margin-top: 0;
}

.description-item > .description {
  margin-top: 0;
}

.discription-thumb {
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.description-title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.description-paragraph {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
  margin-bottom: 30px;
}

/* .descript {
    padding-top: 94px;
    margin-bottom: 94px;
  }  */
/* .description-item{
    list-style: none;
  height:251px ;
}
.description-list{
    list-style: none;
    padding: 0;
    margin: 0 ;
  } */
/* .description-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 ;
  }
  .description-item{
    width: 270px; 
  height:251px ;
  & :not(:last-child) {
    margin-right: 30px;
  }
  }
   */
/*  .description-item > .description-title{
    margin-top: 0;
  }
  .description-item > .description{
    margin-top: 0;
  }
  .discription-thumb{
     height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;
    display: flex;
    justify-content: center;
  align-items: center;
  margin-bottom: 30px; 
  
  }
   .description-title {
     font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
  
  } 
  .description-paragraph{
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--primary-font-color);
    margin-bottom: 30px;



  }  */
.performans {
  padding-bottom: 94px;
}

.performans-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: var(--main-letter-spacing);
  color: var(--secondary-font-color);
  margin-bottom: 50px;
}

.performans-list {
  display: flex;
  flex-wrap: wrap;
}

.performans-list-item {
  position: relative;
  width: 370px;
  height: 294px;
  margin-right: 30px;
}

.performans-list-item:nth-child(3n) {
  margin-right: 0px;
}

.performans-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px 0px 27px 0px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* .our-team {
    background: var(--our-team-bgr);
    padding-top: 94px;
    padding-bottom: 94px;
}

.Team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: var(--main-letter-spacing);
  color: var(--secondary-font-color);
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  list-style: none;
  margin-top: 50px; 
  
}

.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  background: var(--logo-footer-color);
    width: 270px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.20);
    border-radius: 0px 0px 4px 4px;
}

.team-box {
  width: 270px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
    background: var(--logo-footer-color);
    border-radius: 0px 0px 4px 4px;
}
.Name {
  font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: var(--main-letter-spacing);
    color: var(--secondary-font-color);
    margin-bottom: 10px;
}

.specialty {
  font-size: 16px;
    line-height: 1.19;
    letter-spacing: var(--main-letter-spacing);
    color: var(--primary-font-color);
    margin-bottom: 16px;
}
 */
/* .our-team {
    background: var(--our-team-bgr);
    padding-top: 94px;
    padding-bottom: 94px;
}

.Team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: var(--main-letter-spacing);
  color: var(--secondary-font-color);
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  list-style: none;
  margin-top: 50px; 
  
}

.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  background: var(--logo-footer-color);
    width: 270px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.20);
    border-radius: 0px 0px 4px 4px;
}

.team-box {
  width: 270px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
    background: var(--logo-footer-color);
    border-radius: 0px 0px 4px 4px;
}
.Name {
  font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: var(--main-letter-spacing);
    color: var(--secondary-font-color);
    margin-bottom: 10px;
}

.specialty {
  font-size: 16px;
    line-height: 1.19;
    letter-spacing: var(--main-letter-spacing);
    color: var(--primary-font-color);
    margin-bottom: 16px;
}
 */
/* .loyal-customer{
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .loyal-customers-list{
    display: flex;
    list-style:  none;
  }
  
  
  .loyal-customers-list-item{
    margin-right: 30px;
    
    &:not(:last-child){
    margin-right: 30px;
  }
  }
  
  .loyal-customers-list-item-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    fill: #afb1b8;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
     &:hover,
  &:focus{
    color: #2196f3;
    border-color: #2196f3;
    outline: none;
  }
  &:focus,
  &:hover {
    fill: var(--link-hover-focus);
    border: 1px solid var(--link-hover-focus);
    }
  }
  .loyal-customers-title{
    font-size: 36px;
      color: var(--secondary-font-color);
      text-align: center;
      margin: 0%;
      margin-bottom: 50px;
      
  }
  .icon-client{
   width: 106px;
   height: 60px;
  } */
/* .loyal-customer{
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .loyal-customers-list{
    display: flex;
    list-style:  none;
  }
  
  
  .loyal-customers-list-item{
    margin-right: 30px;
    
    &:not(:last-child){
    margin-right: 30px;
  }
  }
  
  .loyal-customers-list-item-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    fill: #afb1b8;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
     &:hover,
  &:focus{
    color: #2196f3;
    border-color: #2196f3;
    outline: none;
  }
  &:focus,
  &:hover {
    fill: var(--link-hover-focus);
    border: 1px solid var(--link-hover-focus);
    }
  }
  .loyal-customers-title{
    font-size: 36px;
      color: var(--secondary-font-color);
      text-align: center;
      margin: 0%;
      margin-bottom: 50px;
      
  }
  .icon-client{
   width: 106px;
   height: 60px;
  } */
.footer {
  background: var(--footer-bgr);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.foote-adress-social-form {
  align-items: baseline;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-adress {
  font-family: 'Roboto';
  color: var(--logo-footer-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-adress-mail,
.footer-adress-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-family: 'Roboto';
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-top: 9px;
}

.footer-adress-mail:hover,
.footer-adress-tel:hover,
.footer-adress:hover,
.footer-adress:focus,
.footer-adress-mail:focus,
.footer-adress-tel:focus {
  color: var(--link-hover-focus);
}

.logo-footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-color-footer {
  color: #ffffff;
}

.footer-social {
  width: 206px;
  margin-left: 70px;
}

.icon-title {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--logo-footer-color);
}

.footer-list-icon {
  display: flex;
  justify-content: space-between;
}

.footer-list-icon-item {
  display: list-item;
  text-align: -webkit-match-parent;
}

.footer-list-icon-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--logo-footer-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-icon-item-link:hover, .footer-list-icon-item-link:focus {
  background-color: var(--link-hover-focus);
}

.footer-icon {
  width: 44px;
  height: 44px;
  fill: var(--white-color);
}

.footer-icon {
  width: 20px;
  height: 20px;
  align-content: center;
  justify-content: center;
}

.footer-form-cont {
  display: flex;
}

.footer-form-container {
  display: flex;
}

.footer-form-title {
  margin-bottom: 20px;
  color: var(--logo-footer-color);
  font-size: 14px;
  line-height: 16px;
  line-height: 100%;
  text-transform: uppercase;
  fill: var(--logo-footer-color);
  letter-spacing: 00.03em;
}

.form-footer {
  margin-left: 93px;
}

.button-primary {
  align-items: center;
  height: 50px;
  width: 200px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  color: var(--logo-footer-color);
  background-color: var(--logo-accent-color);
  box-shadow: var(--btn-shadow);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.03em;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary.subscription {
  min-width: 200px;
}

.footer-send {
  fill: var(--logo-footer-color);
  vertical-align: middle;
}

.footer-form-label {
  display: flex;
}

.footer-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 12px;
  color: var(--logo-footer-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.main-nav {
  font-size: 14px;
}

.logo-color {
  font-family: var(--secondar-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-second-color);
  text-decoration: none;
}

.site-nav {
  list-style: none;
}

.scroll-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.scroll-link:hover,
.scroll-link:focus {
  color: #2196f3;
}

.scroll-link.current {
  color: #2196f3;
  cursor: pointer;
  text-decoration: none;
}

.auth-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-link:hover,
.contact-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--link-hover-focus--);
  fill: var(--link-hover-focus--);
}

.contact-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-link:hover,
.tel-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--link-hover-focus);
}

.contacts-tel:hover,
.contacts-tel:focus {
  color: #2196f3;
}

.section-hero {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filtr-menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filtr-item:not(:last-child) {
  margin-right: 8px;
}

/*PORTFOLIO*/
.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-list-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-item:nth-child(3n) {
  margin-right: 0;
}

.projects-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.overlay-content {
  display: block;
  width: 370px;
  height: 405px;
}

.overlay-content:hover .projects-overlay,
.overlay-content:focus .projects-overlay {
  transform: translateY(0%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.6), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay-content:hover,
.overlay-content:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay-area {
  position: relative;
  overflow: hidden;
  border-right: 30%;
  border-bottom: 30%;
  border-left: 215%;
}

.card-projects {
  display: block;
}

.projects-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  background-color: #2196f3;
  padding: 62px 24px;
  overflow: auto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: var(--main-letter-spacing);
  color: var(--logo-footer-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description {
  color: var(--primary-font-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin: 0;
}

.projects-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-font-color);
  margin-bottom: 4px;
}

.projects-list-descr {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: var(--main-letter-spacing);
  color: var(--primacy-font-color);
}

.card-description {
  padding: 20px 0 20px 24px;
}

/*END PORTFOLIO*/
/*FOOTER*/
.logo-footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #2196f3;
  display: block;
  margin-bottom: 20px;
}

.logo-color-footer {
  color: #ffffff;
}

.mail-footer,
.tel-footer {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*END FOOTER*/
/*# sourceMappingURL=main.css.map */