
.section-hero {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .filtr-menu-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
   
  }
  
  .filtr-item:not(:last-child) {
    margin-right: 8px;
  }
  
  
  