// .section-hero {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }
.filtr-menu-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-bottom: 30px;
    justify-content: center;
  }
  
  @media screen and (min-width: 1200px) {
    padding-bottom: 50px;
    justify-content: center;
  }
}
.filtr-item {
  margin-top: 15px;
}

.filtr-item:not(:last-child) {
  margin-right: 8px;
}
