// .section-hero {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }
.filtr-menu-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-bottom: 50px;
}
.filtr-item {
  margin-top: 15px;
}

.filtr-item:not(:last-child) {
  margin-right: 8px;
}
