/*FOOTER*/

.logo-footer {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #2196f3;
    display: block;
    margin-bottom: 20px;
  }
  
  .logo-color-footer {
    color: #ffffff;
  }
  
  .mail-footer,
  .tel-footer {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  /*END FOOTER*/