.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo-header-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-second-color);
  text-decoration: none;
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo-color {
  color: var(--logo-second-color);
}

.site-nav {
  list-style: none;
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav-item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.scroll-link {
  transition: color 250ms var(--cubic);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-font-color);
  letter-spacing: 0.02em;
}
.current {
  color: var(--link-hover-focus);
}

.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;

  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--link-hover-focus);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.nav-item .scroll-link:hover,
.nav-item .scroll-link:focus {
  color: var(--link-hover-focus);
}

.nav-item:not(:first-child) {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.auth-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }

  list-style: none;
  margin-left: auto;
}

.auth-nav-item:not(:first-child) {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.auth-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    justify-content: start;
  }
}

.contact-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--link-hover-focus);
}

// .contact-link {
//   @media screen and (min-width: 768px) {
//     justify-content: start;
//   }
// }

.auth-nav-item:hover,
.auth-nav-item:focus {
  color: var(--link-hover-focus);
}
// .mail-link-current {
//   color: #2196f3;
//   text-decoration: none;
//   font-size: 14px;
//   font-weight: 500;
// }
.auth-nav-item + .auth-nav-item {
  @media screen and (min-width: 768px) {
    margin-top: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 50px;
  }
}

.auth-nav-icon {
  fill: currentColor;
  margin-right: 10px;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 10px;

  &__icon {
    width: 40px;
    height: 40px;
    fill: #212121;
  }

  &:hover .burger-btn__icon,
  &:focus .burger-btn__icon {
    fill: var(--link-hover-focus);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--logo-footer-color);
  padding: 48px 40px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms linear, visibility 500ms linear;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;

    &:hover .mobile-menu__icon,
    &:focus .mobile-menu__icon {
      fill: var(--link-hover-focus);
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    fill: #212121;
  }
}
.nav-list__item {
  margin-bottom: 32px;
}
.nav-list__link {
  // font-family: Roboto;
  // font-style: normal;
  // font-weight: 500;
  // font-size: 40px;
  // line-height: 47px;
  // text-align: center;
  // letter-spacing: 0.02em;

  // color: #2196f3;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #212121;
}
.contact-tel__item {
  margin-top: 302px;
  margin-bottom: 32px;
}
.contact-nav-list__link {
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;

  color: #2196f3;
}
.contact-mail__item {
  margin-bottom: 64px;
}
.mail-nav-list__link {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: #757575;
}
.social-nav-list {
  display: flex;
}
.nav-list__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.social-nav-list__link:not(:first-child) {
  margin-left: 10px;
}
.social-nav-list__link {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

/* .header {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--border-color);
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  
  .main-nav {
    display: flex;
    align-items: center;
  }
  .logo-header-link {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--logo-second-color);
    text-decoration: none;
    margin-right: 93px;
    margin-left: 0;
    color: #2196f3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .logo-color {
    color: var(--logo-second-color);
  }
  .site-nav {
    list-style: none;
    display: flex;
    align-items: center;
  }
  .scroll-link{
    position:relative;
      
      transition: color 250ms var(--cubic);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      color: var(--secondary-font-color);
      letter-spacing: 0.02em;
      padding-top: 32px;
      padding-bottom: 32px;
  }
  .current {
    color: var(--link-hover-focus);
  }
  
    .scroll-link.current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    
    background-color: var(--link-hover-focus);
    opacity: 1;
    transition: opacity 250ms var(--cubic);
    }
  
    .nav-item:not(:last-child) {
      margin-right: 50px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: #212121;
    }
    .nav-item .scroll-link:hover,
    .nav-item .scroll-link:focus {
      color: var(--link-hover-focus);
    }
  
  .nav-item:not(:first-child) {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
  }
  
  .auth-nav {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .auth-nav-item:not(:first-child) {
    margin-left: 50px;
  }
  
  .auth-nav-item:hover,
  .auth-nav-item:focus {
    color: var(--link-hover-focus);
  }
  .mail-link-current {
    color: #2196f3;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
  }
  .auth-nav .nav-item + .nav-item {
    margin-left: 50px;
  }
  .auth-nav-icon{
    fill:currentColor;
    margin-right: 10px;
  
  }
   */
// .main-nav {
//     font-size: 14px;
//   }
//   .logo-color {
//     font-family: var(--secondar-font);
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.2;
//     letter-spacing: 0.03em;
//     color: var(--logo-second-color);
//     text-decoration: none;
//   }

//   .site-nav {
//     list-style: none;
//   }

//   .scroll-link {
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 16px;
//     letter-spacing: 0.02em;
//     text-decoration: none;
//     color: #212121;
//   }

//   .scroll-link:hover,
//   .scroll-link:focus {
//     color: #2196f3;
//   }

//   .scroll-link.current {
//     color: #2196f3;
//     cursor: pointer;
//     text-decoration: none;
//   }
//   .auth-nav-item{
//     display: flex;
//     justify-content: center;
//     align-items: center;

//   }

//   .contact-link:hover,
//   .contact-link:focus,
//   .contact-link:hover,
//   .contact-link:focus {
//     color: var(--link-hover-focus--);
//     fill: var(--link-hover-focus--);
//   }

//   .contact-link {
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 16px;
//     letter-spacing: 0.02em;
//     color: #757575;
//     text-decoration: none;
//     display: flex;
//     align-items: center;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }

//   .tel-link:hover,
//   .tel-link:focus,
//   .contact-link:hover,
//   .contact-link:focus {
//     color: var(--link-hover-focus);
//   }

//   .contacts-tel:hover,
//   .contacts-tel:focus {
//     color: #2196f3;
//   }
