.performans {
    padding-bottom: 94px;
  }
  .performans-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: var(--main-letter-spacing);
    color: var(--secondary-font-color);
  
    margin-bottom: 50px;
  }
  
  .performans-list {
   /*  display: flex;
    flex-wrap: wrap; */
  }
  .performans-list-item {
    position: relative;
    /* width: 370px;
    height: 294px; */
    margin-right: 30px;
  }
  .performans-list-item:nth-child(3n) {
    margin-right: 0px;
  }
  
  .performans-title{
    position: 
    absolute;
      width: 100%;
      bottom: 0;
      padding: 27px 0px 27px 0px;
      background-color: rgba(47, 48, 58, 0.8);
      font-weight: bold;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #ffffff;
  }