.modal-close-icon{
  position: absolute;
    top: 5.2px;
    right: 5.1px;
    fill: var(--secondary-font-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .modal-close-btn:hover &{
  fill: var(--link-hover-focus);
}
}
  
  /* form */
  .modal-form-head{
    margin-top: 40px;
      margin-bottom: 12px;
      text-align: center;
      color: var(--secondary-font-color);
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.03em;
    
      
      
      @media screen and (min-width:768px) {
        line-height: 30px;
      }

      
      @media screen and (min-width:1200px) {
        line-height: 23px;
      }
  }
  .modal-form {
    width: 370px;
      margin-left: auto;
      margin-right: auto;
      @media screen and (min-width:1200px) {
        width: 448px;
      }
      &.form-label:not(:last-child) {
    margin-bottom: 10px;
  }
  & .form-input {
    padding-left: 42px;
  }
  }
   
  
  
  .form-label{
    position: relative;
   display: flex;
   flex-direction: column;
   &:focus-within .form-input,
   &:hover .form-input {
     border-color: var(--link-hover-focus);
     outline: none;
   }
   & .form-input,
   & textarea {
    margin: 0;
    padding: 11px 12px;
  margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

     @media screen and (max-width:956px) {
       font-size: 14px;
       line-height: 16px;
     }

    
    @media screen and (min-width:1200px) {
      font-size: 12px;
      line-height: 14px;
    }

    
  }
   } 
   .form-icon{
    position: absolute;
     top: 50%;
     left: 12px;
     transform: translateY(-50%);
     display: block;
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     .form-label:focus-within &,
   .form-label:hover &{
     fill: var(--link-hover-focus);
   }
   } 
   
   .comment{
    width: 370px;
    height: 120px;
    resize: none;

    @media screen and (min-width:1200px) {
      width: 448px;
    }

    .form-label:focus-within &,
 .form-label:hover  &{
   border-color: var(--link-hover-focus);
   outline: none;
 }
}
  .form-label .modal-form-input-wrapper {
    
    margin-bottom: 4px;
  color: var(--primary-font-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  }
  .modal-form-input-wrapper{
    
    resize: none;
  }
  .form-label .form-input::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
  /* checkbox */
  
  .checkbox-label{
    display:flex;
    align-items: center;
    // font-size: 11px;
    margin-top: 20px;
    // line-height: 24px;
    margin-left: 13px;
    letter-spacing: 0.03em;
    border-radius: 4px;
    color: var(--primary-font-color);
    text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
     5px   rgba(0,0,0,0.05);

     
     @media screen and (max-width: 1200px) {
       font-size: 11px;
       line-height: 14px;
     }

     @media screen and (min-width: 1200px) {
       font-size: 14px;
       line-height: 24px;
     }

     &::before{
    display: block;
    content: "";
    width: 16px;
      height: 16px;
      border: 1px solid var(--secondary-font-color);
      cursor: pointer;
      margin-right: 10px;

      
    }
     .checkbox-input:checked + &::before{
      background-image: url(../images/icons/iconcheck.svg);
      width: 16px;
      height: 16px;
    }
    .checkbox-input:focus + &::before{
      outline: 2px solid var(--link-hover-focus);
    }
    }

  .form-label-link{
    color: var(--link-hover-focus);
    text-decoration: underline;
  }
  .btn-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .modal-form-btn{
    min-width: 200px;
   min-height: 50px;
   padding-right: 32px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 32px; 
   color: var(--logo-footer-color);
   background-color: var(--link-hover-focus);
   box-shadow: var(--btn-shadow);
   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
   border-radius: 4px;
   border-style: none;
   cursor: pointer; 
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
   
   &:hover,
 &:focus {
   background-color: #188ce8;
 }
 }
 
 