.pop-up-btn {
  font-family: var(--primary-font);
    font-style: normal;
    font-size: 16px;
    background-color: #f5f4fa;
    color: #212121;
    font-weight: 500;
    line-height: 1.63;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    letter-spacing: 0.03em;
    text-align: center;
    border-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
  &:focus {
    color: #ffffff;
    background-color: #2196f3;  
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.10), 0px 1px 2px rgba(0, 0, 0,  0.8), 0px 2px 2px rgba(0, 0, 0,  0.12)
  }
  }
  