h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.list {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: var(--primary-font), sans-serif;
  font-family: var (--secondary-font), sans-serif;
  color: var(--primary-font-color);
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and(min-width:1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
